@import url('https://fonts.googleapis.com/css2?family=Poopins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins', sans-serif;
}

body {
    height: 100vh;
    color: #ededed;
    background-color: #081b29;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #00abf0;
    border: 4px solid #00abf0;;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 32px;
    color: #081b29;
    transition: .3s linear;

}

.card:hover .icon {
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}


.card-content h3 {
    top: 20px;
    text-transform: uppercase;
    color: #ededed;
}

.card-content span {
    bottom: 20px;
    color: #ededed;
    font-weight: 500;
}

.card:hover h3 {
    opacity: 1;
    top: 46px;
    transition: 0.3s linear 0.3s;
    color: #00abf0;
}

.card:hover span {
    opacity: 1;
    bottom: 46px;
    transition: 0.3s linear 0.3s;
}

.card:hover {
    background-color: transparent;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Media query for tablets (screens between 600px and 1024px) */
@media (max-width: 1024px) {
    .header {
        padding: 15px 5%;
    }
    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }
}

/* Media query for mobile phones (screens up to 600px) */
@media (max-width: 600px) {
    .header {
        padding: 10px 2%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        font-size: 14px;
        margin: 10px 0;
    }
}

@media screen and (max-width:900px) {
    .card {
        flex: 100%;
        max-width: 500px;
    }
}